#po-page {
  opacity: 0.93;
  padding: 2rem;
  overflow: auto;
  height: 100vh;

  .estimation-container {
    margin-top: 2rem;
    clear: both;
  }

  .session-header {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}