#po-page {
  opacity: 0.93;
  padding: 2rem;
  overflow: auto;
  height: 100vh;

  .wrapper {
    max-width: 980px;
    margin: 0 auto;
  }

  .estimation-container {
    margin-top: 2rem;
    clear: both;
  }

  .session-header {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .estimation-form-group {
    background-color: white;
    
    &__upload {
      flex: 1;
    }
  }
}
