.votes-table__cards .reveal .componentBack {
  box-shadow: none;
}

.poker-card {
  .ui.fit.loader:after,
  .ui.fit.loader:before {
    width: 5.571429rem;
    height: 5.571429rem;
    margin: -1.6rem 0 0 -2.8rem;
    font-size: 2rem;
  }

  $card_size_multiplier: 4rem;
  $card_spacing: 1rem;
  $card_width: 2.25 * $card_size_multiplier;
  $card_height: 3.5 * $card_size_multiplier;

  @import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap");

  .component {
    display: inline-block;
    height: $card_height;
    width: $card_width;
  }

  .componentFront {
    @extend .component;
    background: #f1f1f1;
  }

  .componentBack {
    @extend .component;

    // background-image: url('/patterns/8126.png');
    background-position: center center;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0 2px 2px rgba(77, 77, 77, 0.7);
  }

  .face {
    padding: $card_spacing;
    position: relative;
    height: 100%;
  }

  .faceBack {
    @extend .face;
  }

  .faceFront {
    @extend .face;

    height: $card_height - (2 * $card_spacing);
    padding: 0;
    margin: $card_spacing;
    background: #e1e1e1;
    border-radius: 0.25rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    font-family: "Cardo", serif;
  }

  .valueFront {
    font-size: 4rem;
    line-height: 4rem;
  }

  .avatar {
    overflow: hidden;
    border-radius: 99rem;
    border: 2px solid black;
  }

  .labelFront {
    line-height: normal;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1rem;
  }

  .voterLabel {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0.5rem 0;
    background: #00000085;
    color: white;
  }
}
